.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shop{
  text-align: center;
}
h1{
  font-size: 50px;
  color: #ec8b8b;
}
.cakebutton{
  padding: 4px;
  color:#fff;
  background-color: #282c34;
  margin: 0px 4px;
}
.icecream{
  padding: 4px;
  color:#fff;
  background-color: #282c34;
  margin: 0px 4px;
}
.api{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}
.home{
  background-color:#FDF8F0;
  
  margin: auto;
    width: 60%;
    border: 2px solid #DDD0C8;
    border-radius: 30px;
    margin-top: 120px;
    padding: 8px;
    text-align: center;
    

}
.home-main{
  display: flex;
  align-items: center;
  
}
h1{
  text-align: center;
}
.mail{
  display: inline-flex;
}


* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.TodoBody {
  background:#F1F4FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 100px;
}
h1.heading{
  color: white;
}


.TodoWrapper {
  background: #89ABE3FF;
  
  padding: 2rem;
  border-radius: 5px;
  height: auto;
  min-height: 500px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
  background:white;
  text-align: center;
  
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: black;
  
}

.todo-input::placeholder {
  color: black;
}

.todo-btn {
  background: #89ABE3FF;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
 background:#F1F4FFFF;
  color: #050404;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 